.user-img {
    height: 200px;
    margin-top: -50px;
    position: relative;
    min-height: 200px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    // background-image:url('../storage/capa/capa.jpg');
  }

  .user-img:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }

  .user-profile-img {
    margin-top: -50px;
    width: 150px;
    height: 130px;
    background-size: cover;
  }

  hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
  .max{
      margin-top: 6%;
  }
  .box-card {
    background: #fff;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 10px;
  }

  .box-card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .box-card a {
    text-decoration: none;
    color: green;
    border-bottom: 2px solid green;
  }

